POSTGRES_DB=Tuananh165-art
POSTGRES_USER=Tuananh165-art
POSTGRES_PASSWORD=123456

ACCOUNT_DATABASE_URL=postgres://Tuananh165-art:123456@account_db/Tuananh165-art?sslmode=disable
ORDER_DATABASE_URL=postgres://Tuananh165-art:123456@order_db/Tuananh165-art?sslmode=disable
PAYMENT_DATABASE_URL=postgres://Tuananh165-art:123456@payment_db/Tuananh165-art?sslmode=disable
INVENTORY_DATABASE_URL=postgres://Tuananh165-art:123456@inventory_db/Tuananh165-art?sslmode=disable
NOTIFICATION_DATABASE_URL=postgres://Tuananh165-art:123456@notification_db/Tuananh165-art?sslmode=disable
RECOMMENDER_DATABASE_URL=postgresql://Tuananh165-art:123456@recommender_db/Tuananh165-art?sslmode=disable
PRODUCT_DATABASE_URL=http://product_db:9200

ACCOUNT_SERVICE_URL=account:8080
PRODUCT_SERVICE_URL=product:8080
ORDER_SERVICE_URL=order:8080
PAYMENT_SERVICE_URL=payment:8080
RECOMMENDER_SERVICE_URL=recommender:8080
INVENTORY_SERVICE_URL=inventory:8080
CART_SERVICE_URL=cart:8080
NOTIFICATION_SERVICE_URL=notification:8080

KAFKA_BOOTSTRAP_SERVERS=kafka:9092
PRODUCT_EVENTS_TOPIC=product_events
INTERACTION_EVENTS_TOPIC=interaction_events
ORDER_EVENTS_TOPIC=order_events
PAYMENT_EVENTS_TOPIC=payment_events
INVENTORY_EVENTS_TOPIC=inventory_events
CART_EVENTS_TOPIC=cart_events

REDIS_URL=redis:6379
ARTIFACTS_LOCAL_PATH=/app/artifacts

SECRET_KEY=change-me-local-secret
ISSUER=goshopx-local

DODO_API_KEY=
DODO_WEBHOOK_SECRET=
DODO_CHECKOUT_URL=
DODO_TEST_MODE=false
